<!--
  Generated template for the CsalilistazasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-segment [(ngModel)]="csalidisplay">
            <ion-segment-button value="Bojli" (ionSelect)="bojliLoading()">
              Bojli
            </ion-segment-button>
            <ion-segment-button value="Pellet" (ionSelect)="pelletLoading()">
              Pellet
            </ion-segment-button>
            <ion-segment-button value="Mu" (ionSelect)="muLoading()">
                Mű
              </ion-segment-button>
              <ion-segment-button value="Elo" (ionSelect)="eloLoading()">
                  Élő
                </ion-segment-button>
          </ion-segment>
      </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-fab top right edge>
        <button ion-fab (click)="opencsaliFeltoltes()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
  
  
  <div [ngSwitch]="csalidisplay">
    <ion-list *ngSwitchCase="'Bojli'">
        
        <ng-container *ngFor="let item of bojlicsalik; let i = index">
            
      <ion-item (click)="openCsalireszletek(item)">
        <ion-thumbnail item-start>
          <img src="{{item.keplink}}">
        </ion-thumbnail>
        <h2>{{item.nev}}</h2>
      </ion-item>
   
      </ng-container>
      
    </ion-list>
  
    <ion-list *ngSwitchCase="'Pellet'">
      
      <ng-container *ngFor="let item of pelletcsalik; let i = index">
          
    <ion-item (click)="openCsalireszletek(item)">
      <ion-thumbnail item-start>
        <img src="{{item.keplink}}">
      </ion-thumbnail>
      <h2>{{item.nev}}</h2>
    </ion-item>
 
    </ng-container>
    
  </ion-list>
  <ion-list *ngSwitchCase="'Mu'">
    
    <ng-container *ngFor="let item of mucsalik; let i = index">
        
  <ion-item (click)="openCsalireszletek(item)">
    <ion-thumbnail item-start>
      <img src="{{item.keplink}}">
    </ion-thumbnail>
    <h2>{{item.nev}}</h2>
  </ion-item>

  </ng-container>
  
</ion-list>
<ion-list *ngSwitchCase="'Elo'">
  
  <ng-container *ngFor="let item of elocsalik; let i = index">
      
<ion-item (click)="openCsalireszletek(item)">
  <ion-thumbnail item-start>
    <img src="{{item.keplink}}">
  </ion-thumbnail>
  <h2>{{item.nev}}</h2>
</ion-item>

</ng-container>

</ion-list>
  </div>
</ion-content>
