<!--
  Generated template for the ItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header header-ios>
    <ion-navbar transparent [ngClass]="{'active':isClassActive()}">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title  text-left>{{hiradatok.acf.cim}}</ion-title>
    </ion-navbar>
</ion-header>

  <ion-content elastic-header>
      <ion-item no-lines background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + hiradatok.acf.image + ')'}">
          <div title-block>
              <span new-category>{{ hiradatok.acf.kategoria}}</span>
              <h1 parallax-title text-wrap>{{hiradatok.acf.cim}}</h1>
          </div>
      </ion-item>
      <ion-item-group>
          <ion-item-divider border no-lines>
              
              <h2 item-subtitle>írta: Haldorádó</h2>
              <button item-end ion-button color="primary" button-action-shit>
                    <ion-icon name="more"></ion-icon>
                  </button>
          </ion-item-divider>
          <ion-item no-margin no-lines>
              
              <p parallax-description text-wrap [innerHTML]=hiradatok.acf.leiras></p>
                <ion-grid no-padding >
                    <ion-row *ngIf="video">
                      <ion-col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 *ngFor="let item of videos; let i = index" (click)="openVideo()">
                        <!--Header Styled cards-->
                        <ion-item no-lines>
                          <span new-category text-uppercase>Videó bemutató</span>
                          <!-- Card Title -->
                          <h2 card-title>{{item.snippet.title}}</h2>
                          <!-- Card Subtitle -->
                          <h3 card-subtitle text-wrap>{{item.snippet.channelTitle}}</h3>
                          <!-- Card Badge -->
                          <ion-badge item-end class="badge-dark">Megtekintés</ion-badge>
                        </ion-item>
                        <!-- End Header Styled Cards-->
                        <!-- Card Background -->
                        <ion-card >
                          <img [src]="item.snippet.thumbnails.high.url" />
                        </ion-card>
                      </ion-col>
                    </ion-row>
                
                    <ion-row>
                      <ion-col col-12>
                          <span new-category text-uppercase>Kommentek</span>
                          <form  padding [formGroup]="kommentForm">
                              <ion-item>
>                                  <ion-input [(ngModel)]="bejegyzesszovege"  type="text" [class.invalid]="!kommentForm.controls.uzenet.valid && (kommentForm.controls.uzenet.dirty|| submitAttempt)"
                                    formControlName="uzenet"></ion-input>
                                </ion-item>
                              <ion-item *ngIf="!kommentForm.controls.uzenet.valid && (kommentForm.controls.uzenet.dirty|| submitAttempt)">
                                <p>Töltsd ki a maximum 60 karakteres mezőt!</p>
                              </ion-item>
                              <button ion-button (click)="kommentelkuld()">Elküldés</button>
                            </form>
                      </ion-col>
                      </ion-row>
                      <ion-row>
                      <ion-col col-12>
                          <ion-list no-margin>                            
                              <ng-container *ngIf="kommentek">
                              <ion-item  border no-lines *ngFor="let item of kommentek; let i = index">
                                  <ion-avatar item-left>
                                      <img [src]="item.kommenteloavatar" />
                                  </ion-avatar>
                                  <h2 item-title>{{item.kommenteloneve}} - {{item.kommentido | date: "yyyy/MM/dd HH:MM"}}</h2>
                                  <h3>{{item.bejegyzesszovege}}</h3>
                                  
                              </ion-item>
                            </ng-container>
                          </ion-list>
                      </ion-col>
                  </ion-row>
                    
                  </ion-grid>
          </ion-item>
      </ion-item-group>
  </ion-content>