page-myto  {
    .fade-in-left-item {
        -webkit-animation: fadeInLeft 800ms;
        -moz-animation: fadeInLeft 800ms;
        -o-animation: fadeInLeft 800ms;
        animation: fadeInLeft 800ms;
    }
    .default-background {
        background-color: theme-colors('mainColors', 'primary');
    }
}
