page-tofeltoltes {

          ion-grid,
          ion-row {
            height: 100%;
          }
          // Avatar
          ion-thumbnail {
            display: block;
            clear: both;
            filter: none;
            opacity: 1;
            margin-left:auto;
            margin-right:auto;
        
            img {
              max-width: 250px;
              max-height: 250px;
            }
          }
          // Title
          [title] {
            margin-right: 20%;
            font-size: font-size-text('h1') !important;
            font-weight: bold;
            line-height: 34px;
          }
        
          [stacked] {
            font-size: 10px !important;
          }
          .invalid {
                   border: 1px solid #ea6153;
               }
        }