<ion-header header-ios>
  <ion-navbar transparent [ngClass]="{'active':isClassActive()}">

  </ion-navbar>
</ion-header>
<ng-container *ngIf="ladabol;else nemlada">
  <ion-content elastic-header *ngFor="let toreszletek of toreszletek; let i = index">
    <ion-item no-lines background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + toreszletek.keplink + ')'}">
    </ion-item>
    <!--Content-->
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-12>
          <ion-list no-margin>
            <ion-item-group>
              <ion-item-divider no-lines>
                <span new-category margin-top text-uppercase>{{toreszletek.cim}}</span>
                <h2 parallax-title text-wrap>{{toreszletek.nev}}</h2>
                <h3 parallax-subtitle text-wrap>{{toreszletek.tipus}}</h3>
                <ion-badge item-end text-uppercase class="badge-dark">{{toreszletek.vizterulet}} ha</ion-badge>
              </ion-item-divider>
              <ion-item border no-lines no-margin>
                <div span-medium>Szolgáltatások: {{ toreszletek.szolgaltatasleiras }}</div>
                <div span-medium>Halfajták: {{ toreszletek.halfajtak }}</div>
                <div span-medium>Weboldal<br><button button-clear-outline outline round ion-button><ion-icon name="open"></ion-icon></button></div>
                <div span-medium>Facebook<br><button button-clear-outline outline round ion-button><ion-icon name="logo-facebook"></ion-icon></button></div>

                <p parallax-description text-wrap [innerHtml]=toreszletek.egyeb></p>
              </ion-item>

            </ion-item-group>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>
<ng-template #nemlada>
  <ion-content elastic-header>
    <ion-item no-lines background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + toreszletek.keplink + ')'}">
      <ion-fab left middle>
        <button ion-fab mini><ion-icon name="menu"></ion-icon></button>
        <ion-fab-list>
          <button ion-fab (click)="openonTerkep()"><ion-icon name="map"></ion-icon></button>
          <button ion-fab (click)="openSzervezo()"><ion-icon name="calendar"></ion-icon></button>
          <button ion-fab (click)="PushTolada()"><ion-icon name="bookmark"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>

    </ion-item>
    <!--Content-->
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-12>
          <ion-list no-margin>
            <ion-item-group>
              <ion-item-divider no-lines>
                <span new-category margin-top text-uppercase>{{toreszletek.cim}}</span>
                <h2 parallax-title text-wrap>{{toreszletek.nev}}</h2>
                <h3 parallax-subtitle text-wrap>{{toreszletek.tipus}}</h3>
                <ion-badge item-end text-uppercase class="badge-dark">{{toreszletek.vizterulet}} ha</ion-badge>
              </ion-item-divider>
              <ion-item border no-lines no-margin>
                <div span-medium>Szolgáltatások: {{ toreszletek.szolgaltatasleiras }}</div>
                <div span-medium>Halfajták: {{ toreszletek.halfajtak }}</div>
                <div span-medium>Weboldal<br><button button-clear-outline outline round ion-button><ion-icon name="open"></ion-icon></button></div>
                <div span-medium>Facebook<br><button button-clear-outline outline round ion-button><ion-icon name="logo-facebook"></ion-icon></button></div>

                <p parallax-description text-wrap [innerHtml]=toreszletek.egyeb></p>
              </ion-item>

            </ion-item-group>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col no-padding col-4 col-sm-3 col-md-6 col-lg-4 col-xl-3>
          <ion-card background-size (click)="kepMegnyit1()">
            <img [src]="toreszletek.keplink" />
          </ion-card>
        </ion-col>
        <ion-col no-padding col-4 col-sm-3 col-md-6 col-lg-4 col-xl-3>
          <ion-card background-size (click)="kepMegnyit2()">
            <img [src]="toreszletek.keplink2" />
          </ion-card>
        </ion-col>
        <ion-col no-padding col-4 col-sm-3 col-md-6 col-lg-4 col-xl-3>
          <ion-card background-size (click)="kepMegnyit3()">
            <img [src]="toreszletek.keplink3" />
          </ion-card>
        </ion-col>
        <ion-col no-padding col-4 col-sm-3 col-md-6 col-lg-4 col-xl-3>
          <ion-card background-size (click)="kepMegnyit4()">
            <img [src]="toreszletek.keplink4" />
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-content>
</ng-template>
