<!--
  Generated template for the FogasinaploPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header header-ios>
  <ion-navbar transparent [ngClass]="{'active':isClassActive()}">
    <ion-segment [(ngModel)]="displayfogasok" color="primary">
      <ion-segment-button value="sajat" (ionSelect)="sajatchange()">
        Saját fogások
      </ion-segment-button>
      <ion-segment-button value="osszes" (ionSelect)="osszeschange()">
        Összes fogás
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content elastic-header>
    <ion-fab right middle>
        <button ion-fab (click)="openFeltoltes()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
     
  <!-- Parallax Big Image -->
  <div background-size id="elastic-header" [ngStyle]="{'background-image': 'url(./assets/img/lake.jpg)'}">
    <!--Parallax Header Top-->
    <div parallax-header>
      <!--Parallax Subtitle -->
      <h2 no-margin parallax-subtitle>Fogási napló</h2>
      <!--Parallax Title -->
      <h2 no-margin parallax-title>Töltsd fel fogásaid, hogy mássok is láthassák! </h2>
    </div>
  </div>
  <div [ngSwitch]="displayfogasok" >
      <ion-list *ngSwitchCase="'sajat'">
  <!--Content-->
  <ion-grid no-padding>
    <ion-row >
      <ion-col col-12>
        <ion-list no-margin>
          <ion-item item-bcg border no-lines *ngFor="let item of sajatfogasadatok; let i = index">
            <!--Content Avatar-->
            <ion-thumbnail item-start>
              <img [src]="item.keplink" alt="{{item.halfaj}}">
            </ion-thumbnail>
            <!--Content Title-->
            <h2 no-margin item-title>{{item.halfaj}}</h2>
            <!--Content Subtitle-->
            <h3 item-subtitle text-wrap>{{item.datum | date: "yyyy/MM/dd HH:MM"}}</h3>
            <!--Content Badge-->
            <ion-badge class="badge-light" item-end (click)="openFogasReszletek(item)">Részletek</ion-badge>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-list>
  <ion-list *ngSwitchCase="'osszes'">
  <!--Content-->
  <ion-grid no-padding>
      <ion-row >
        <ion-col col-12>
          <ion-list no-margin>
            <ion-item item-bcg border no-lines *ngFor="let item of osszesfogasadatok; let i = index">
              <!--Content Avatar-->
              <ion-thumbnail item-start>
                <img [src]="item.keplink" alt="{{item.halfaj}}">
              </ion-thumbnail>
              <!--Content Title-->
              <h2 no-margin item-title>{{item.halfaj}}</h2>
              <!--Content Subtitle-->
              <h3 item-subtitle text-wrap>{{item.datum | date: "yyyy/MM/dd HH:MM"}}</h3>
              <!--Content Badge-->
              <ion-badge class="badge-light" item-end (click)="openFogasReszletek(item)">Részletek</ion-badge>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
  </div>
</ion-content>
